.infoBox {
    flex: 1;
    cursor: pointer;
}

.MuiCardContent-root p:nth-child(1) {
    font-weight: 600;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox--selected {
    border-top: 10px solid green;
}

.infoBox--red {
    border-color: #cc1034;
}

.infoBox__cases--green {
    color: green !important;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

@media (max-width: 700px) {
    .infoBox:not(:last-child) {
        margin-right: 0;
    }

    .MuiCardContent-root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .MuiCardContent-root p,
    .MuiCardContent-root h2 {
        font-size: 15px;
    }

    .infoBox__cases {
        margin-top: 20px;
    }

    .infoBox__title,
    .infoBox__cases,
    .infoBox__total {
        text-align: center;
    }
}